# Compilation debries
build/

# Makefile files
Makefile
makefile-*
*.mk
gmsl
__gmsl

# VS Code files and folders
.vscode/
*.code-workspace

# Test files
# main.cpp

# Proteus files
Backup*
*.pdsprj*
*.pdsbak*

# Hidden directories
_hide/
