# Compilation debries
build/

# Makefile files
Makefile
makefile-*
gmsl
__gmsl

# VS Code files and folders
.vscode/
*.code-workspace

# Proteus files
Backup*
*.pdsprj*
*.pdsbak*

# Hidden directories
_hide/
